<style>
  .faixa-cima{
    background-color: #3f5067 !important;
    width: 100%;
    height: 50px;
    margin: 0,0,0,0;
    display: flex;
  }
  .container{
    width: 100%;
    margin: 0,0,0,0;
  }
  .imgLogo {
    width: 10%;
    height: 100%;
  }
  .login{
    margin-left: 82%;
    width:150px;
  }
  .menu{
    width: 100%;
  }
  .navbar{
    margin-left: 50%;
  }
  .icon-menu{
    height: 60px;
    width: 60px;
  }
</style>
<div>
  <div class="faixa-cima">
    <img src="../assets/Logo.png" class="imgLogo">

    <div class="row login">     
      <button type="button" class="btn btn-primary btn-sm">Small button</button>
    </div>
  </div>
  <div class="menu">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="icon-menu"><i class="bi bi-0-circle"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</div>